name: Deploy to Bluehost

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build application
        run: |
          npm install          

      - name: Deploy via SSH
        uses: easingthemes/ssh-deploy@v2.2.7
        with:
          server: transportadministrator.com
          username: dispatch_developer@fmn.oev.mybluehost.me
          key: ${{ secrets.BH_SSH_KEY }}
          local_path: ./public
          remote_path: public_html



